#surfacedCarousel {
    background-image: url(../img/lumia-background.png);
    background-position: center top;
    background-repeat: no-repeat;
    height: 577px;
    width: 310px;
}

.myCarousel {
    height: 400px;
    width: 240px;
    margin: 72px auto auto;
}

.metro-responsive-tiles .no-click {
    cursor:default !important;
}
